.adminContainer{
    margin:  70px 0px ;
    display: flex;
    gap: 22px;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 140px)
}

.admin_div_container{
    width: 600px;
    display: flex;
    gap: 50px;
}

.admin_div{
    width: 300px;
    text-wrap: wrap;
    font-size: inherit;
   
}

.admin_div_radio_container{
    width: 300px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.admin_div_radio
{
    display: flex;
   align-items: center;
   gap: 5px;
   cursor: pointer;
}

.admin_div_radio input{
    width: 17px;
}

.admin_input{
    width: 300px;
    color: inherit;
    text-align: center;
}

.custom_price{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.custom_price_containts{
    border: 1px solid #FFFFFF;
    height: fit-content;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.graph{
  width: 600px;
  height:  100%;
}

.admin_button:hover{
    border: 1px solid #F0C3F1;
}